Repository SE2-Group1/main-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

(fix) date in documents
  db/init.sql
Due: none

(new) custom design for the markers
  client/package.json
  client/src/components/MapView/MapView.css
  client/src/components/MapView/MapView.jsx
  server/package.json
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Added class, dao, controller, routes for areas
  server/src/components/area.ts
  server/src/controllers/areaController.ts
  server/src/controllers/documentController.ts
  server/src/dao/areaDAO.ts
  server/src/dao/documentDAO.ts
  server/src/routers/areaRoutes.ts
  server/src/routers/documentRoutes.ts
Due: prettier --write "server/**/*.ts"

Update function for adding new georeference based on new setting for db
  server/src/controllers/areaController.ts
  server/src/controllers/documentController.ts
  server/src/dao/areaDAO.ts
  server/src/dao/documentDAO.ts
  server/src/routers/areaRoutes.ts
  server/src/routers/documentRoutes.ts
Due: prettier --write "server/**/*.ts"

(fix) relation for area
  db/init.sql
Due: none

addDocArea -> updateDocArea
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

link screen to modal, refactor frontend and backend, minor fixes
  client/src/components/AddDocumentPage.jsx
  client/src/components/DocumentForm.jsx
  client/src/components/DocumentLinker.jsx
  client/src/components/LinkModal.jsx
  client/src/components/style.css
  client/src/hooks/useDebounceValue.js
  client/src/models/Connection.js
  client/src/models/Document.js
  client/src/screens/home/components/NavWindow.jsx
  client/src/screens/login/LoginScreen.jsx
  client/src/services/API.js
  client/src/utils/docs.js
  server/src/components/connection.ts
  server/src/components/document.ts
  server/src/components/link.ts
  server/src/components/linktype.ts
  server/src/controllers/documentController.ts
  server/src/controllers/linktypeController.ts
  server/src/dao/documentDAO.ts
  server/src/dao/linkDAO.ts
  server/src/dao/linktypeDAO.ts
  server/src/errors/linkError.ts
  server/src/routers/documentRoutes.ts
  server/src/routers/linktypeRoutes.ts
  server/src/routes.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/controller/linktype.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/dao/link.test.ts
  server/test/unit/dao/linktype.test.ts
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

force case sensitive to file names
  server/src/components/linkType.ts
  server/src/controllers/linkTypeController.ts
  server/src/dao/linkTypeDAO.ts
  server/src/routers/linkTypeRoutes.ts
Due: prettier --write "server/**/*.ts"

Temporarily rename files to handle case sensitivity issues
  server/src/components/linktype.ts
  server/src/components/linktype_temp.ts
  server/src/controllers/linktypeController.ts
  server/src/controllers/linktypeController_temp.ts
  server/src/dao/linktypeDAO.ts
  server/src/dao/linktypeDAO_temp.ts
  server/src/routers/linktypeRoutes.ts
  server/src/routers/linktypeRoutes_temp.ts
Due: prettier --write "server/**/*.ts"

Rename files with correct casing
  server/src/components/linkType.ts
  server/src/controllers/linkTypeController.ts
  server/src/dao/linkTypeDAO.ts
  server/src/routers/linkTypeRoutes.ts
  server/test/unit/controller/linktype.test.ts
Due: prettier --write "server/**/*.ts"

(new) reset view + side panel for doc infos + edit mode for map
  client/src/App.jsx
  client/src/assets/icons/map_icons/omino.svg
  client/src/components/MapView/MapView.css
  client/src/components/MapView/MapView.jsx
  client/src/components/MapView/SidePanel.jsx
  client/src/components/Navbar/Navbar.jsx
  client/src/components/style.css
  client/src/main.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

KX4-Backend: Fetch all document IDs and their corresponding area coordinates
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

are-related changes from kx5 branch
  server/src/components/area.ts
  server/src/controllers/areaController.ts
  server/src/dao/areaDAO.ts
  server/src/routers/areaRoutes.ts
Due: prettier --write "server/**/*.ts"

add pages, guest routes, user routes, fix spinner
  client/src/App.jsx
  client/src/components/AddDocumentPage.jsx
  client/src/components/AppRoutes.jsx
  client/src/components/DocumentForm.jsx
  client/src/components/GuestRoutes.jsx
  client/src/components/LinkModal.jsx
  client/src/components/Map.jsx
  client/src/components/UserRoutes.jsx
  client/src/components/style.css
  client/src/pages/addDocument/AddDocument.css
  client/src/pages/addDocument/AddDocumentPage.jsx
  client/src/pages/home/Home.css
  client/src/pages/home/HomePage.jsx
  client/src/pages/home/components/NavComponent.css
  client/src/pages/home/components/NavComponent.jsx
  client/src/pages/home/components/NavWindow.css
  client/src/pages/home/components/NavWindow.jsx
  client/src/pages/login/LoginPage.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

improve fetch request handling
  client/src/components/LinkModal.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: API doc inserted
  docs/APIdoc.json
Due: none

fix the API from documents/georeference/coordinates to /georeference - test polygon areas
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

fix link modal ui for long titles and link type description
  client/src/components/LinkModal.jsx
  server/src/components/linkType.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

Add api to get the info of a specific document by id (/documents/:id/georeference)
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

fix issudanceDate
  server/src/dao/documentDAO.ts
Due: prettier --write "server/**/*.ts"

(fo)
  client/src/assets/icons/map_icons/resetView.svg
  client/src/components/MapView/MapView.jsx
  client/src/components/Navbar/Navbar.css
  client/src/components/Navbar/Navbar.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

(fix) lag navbar
  client/src/components/Navbar/Navbar.css
Due: none

updated date handling
  client/index.html
  client/public/icons/truck-front.svg
  server/src/components/document.ts
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

updated test for new date handling
  server/test/unit/controller/document.test.ts
Due: prettier --write "server/**/*.ts"

(new) draw area with markers
  client/src/components/MapView/MapView.css
  client/src/components/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

backend tests for kx4
  server/src/dao/documentDAO.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

Add type to /georeference + add stakeholders and links to /:id/georeference
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

remove redundant vars
  server/src/controllers/documentController.ts
Due: prettier --write "server/**/*.ts"

fix an issue
  server/src/routers/documentRoutes.ts
Due: prettier --write "server/**/*.ts"

feat: add fonts
  client/public/fonts/Poppins/OFL.txt
  client/public/fonts/Poppins/Poppins-Black.ttf
  client/public/fonts/Poppins/Poppins-BlackItalic.ttf
  client/public/fonts/Poppins/Poppins-Bold.ttf
  client/public/fonts/Poppins/Poppins-BoldItalic.ttf
  client/public/fonts/Poppins/Poppins-ExtraBold.ttf
  client/public/fonts/Poppins/Poppins-ExtraBoldItalic.ttf
  client/public/fonts/Poppins/Poppins-ExtraLight.ttf
  client/public/fonts/Poppins/Poppins-ExtraLightItalic.ttf
  client/public/fonts/Poppins/Poppins-Italic.ttf
  client/public/fonts/Poppins/Poppins-Light.ttf
  client/public/fonts/Poppins/Poppins-LightItalic.ttf
  client/public/fonts/Poppins/Poppins-Medium.ttf
  client/public/fonts/Poppins/Poppins-MediumItalic.ttf
  client/public/fonts/Poppins/Poppins-Regular.ttf
  client/public/fonts/Poppins/Poppins-SemiBold.ttf
  client/public/fonts/Poppins/Poppins-SemiBoldItalic.ttf
  client/public/fonts/Poppins/Poppins-Thin.ttf
  client/public/fonts/Poppins/Poppins-ThinItalic.ttf
  client/public/images/loginImage.png
  client/src/components/InputText.jsx
  client/src/pages/login/components/LoginButton.jsx
  client/src/pages/login/components/LoginForm.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: add icons
  client/public/icons/mailIcon.svg
  client/public/icons/passwordIcon.svg
  client/public/icons/profileIcon.svg
Due: none

feat: implement login frontend
  client/src/components/NavigationButton.jsx
  client/src/components/style.css
  client/src/index.css
  client/src/pages/login/LoginPage.jsx
  client/src/pages/login/components/style.css
  client/src/pages/login/style.css
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

clearing console messages
  client/src/components/MapView/MapView.jsx
  client/src/components/MapView/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Review the client side and server side and fix all inconcistencies related to uploading document.
  client/src/models/Document.js
  client/src/pages/addDocument/AddDocumentPage.jsx
  client/src/services/API.js
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

addDocument unit test (comment)
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

fix: fix bug of the textedit
  client/src/components/InputText.jsx
  client/src/pages/login/LoginPage.jsx
  client/src/pages/login/components/LoginForm.jsx
  client/src/pages/login/components/style.css
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

merge story 4
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

addDocument unit tests (uncommit)
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

Path conditions:
  npm run --prefix client check: any of: client/**/*.{js,jsx,mjs}
  prettier --write "client/**/*.{js,jsx,mjs}": any of: client/**/*.{js,jsx,mjs}
  prettier --write "server/**/*.ts": any of: server/**/*.ts
