Repository SE2-Group1/main-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

.lintstagedrc:

{
  "client/**/*.{js,jsx,mjs}": [
    "npm run --prefix client check",
    "prettier --write \"client/**/*.{js,jsx,mjs}\""
  ],
  "server/**/*.ts": [
    "prettier --write \"server/**/*.ts\""
  ]
}

fix resources table with new fields
  db/init.sql
Due: none

List of municipality documents
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/MunicipalityDocumentsPanel.jsx
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

Adjusted tests
  server/test/unit/routes/document.test.ts
Due: prettier --write "server/**/*.ts"

fit bounds to the map view.
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

(fix) Backend refactor
  server/src/controllers/documentController.ts
  server/src/dao/areaDAO.ts
  server/src/dao/documentDAO.ts
  server/src/dao/languageDAO.ts
  server/src/dao/linkDAO.ts
  server/src/dao/linkTypeDAO.ts
  server/src/dao/scaleDAO.ts
  server/src/dao/stakeholderDAO.ts
  server/src/dao/typeDAO.ts
  server/src/dao/userDAO.ts
  server/src/errors/languageError.ts
  server/src/routers/documentRoutes.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/dao/language.test.ts
  server/test/unit/dao/linktype.test.ts
  server/test/unit/dao/scale.test.ts
  server/test/unit/dao/stakeholder.test.ts
  server/test/unit/dao/type.test.ts
  server/test/unit/routes/document.test.ts
Due: prettier --write "server/**/*.ts"

fix the list style.
  client/src/pages/ListView/ListView.css
  client/src/pages/ListView/ListView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix handle link through sidepanel
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Adjusted side panel
  client/src/pages/MapView/MunicipalityDocumentsPanel.jsx
  server/test/unit/controller/document.test.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

update ci with sonar cloud
  .github/workflows/ci.yaml
  README.md
  client/.env.example
  sonar-project.properties
Due: none

Adjusted area and icons
  client/public/icons/map_icons/municipalityDocuments.svg
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/MunicipalityDocumentsPanel.jsx
  client/src/utils/IconsMapper.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Last changes
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/MunicipalityDocumentsPanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add resources panel
  client/src/components/ResourcesModal.jsx
  client/src/components/addDocument/CustomCarousel.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/pages/addDocument/AddDocumentSidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Color changed
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/MunicipalityDocumentsPanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix resource panel + added style
  client/src/components/ResourcesModal.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

(refactor): removed commented lines, added areaDao test, fixed tests
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/area.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/document.test.ts
Due: prettier --write "server/**/*.ts"

test for clusters, do not look at me
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

new municipality area in db + started fixing display of the area
  client/src/pages/MapView/MapView.jsx
  db/init.sql
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

area display needs a look
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: Refactor of the Form
  client/public/icons/arrowDown.svg
  client/public/icons/editIcon.svg
  client/src/components/DataList.jsx
  client/src/components/addDocument/AddDocumentPageTwo.jsx
  client/src/components/addDocument/CustomCarousel.jsx
  client/src/components/addDocument/style.css
  client/src/components/style.css
  client/src/pages/ModifyAddDocument/ModifyAddPanel.css
  client/src/pages/ModifyAddDocument/ModifyAddPanel.jsx
  client/src/pages/addDocument/CaroselPageOne.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: implementation of the backend + adjustment
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/pages/MapView/providers/DocumentManagerProvider.jsx
  client/src/pages/addDocument/HandleDocumentSidePanel.jsx
  client/src/services/API.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

refactor: Refactor adjustement
  client/src/components/addDocument/AddDocumentInputText.jsx
  client/src/components/addDocument/AddDocumentPageOne.jsx
  client/src/components/addDocument/AddDocumentTextArea.jsx
  client/src/components/addDocument/CaroselPageTwo.jsx
  client/src/components/addDocument/CustomCarousel.jsx
  client/src/pages/ModifyAddDocument/ModifyAddPanel.css
  client/src/pages/ModifyAddDocument/ModifyAddPanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

code refactor and optimization
  client/src/components/addDocument/AddDocumentPageTwo.jsx
  client/src/pages/ListView/ListView.css
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/Legend.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/pages/MapView/providers/DocumentManagerProvider.jsx
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

feat: frontend add document, modify document completed
  client/src/components/addDocument/CaroselPageTwo.jsx
  client/src/components/addDocument/CarouselForm.jsx
  client/src/components/addDocument/DropDownAddDocument.jsx
  client/src/components/addDocument/style.css
  client/src/pages/MapView/MapView.jsx
  client/src/pages/addDocument/CaroselPageOne.jsx
  client/src/pages/addDocument/HandleDocumentSidePanel.jsx
  client/src/services/API.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix display of mun area
  client/package-lock.json
  client/package.json
  client/src/pages/MapView/MapView.jsx
  server/package-lock.json
  server/package.json
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix package json
  client/package-lock.json
  client/package.json
  package-lock.json
  server/package-lock.json
  server/package.json
Due: none

fix refactor of formattedCoordinates in doc dao
  server/src/dao/documentDAO.ts
Due: prettier --write "server/**/*.ts"

Adjusted area and icons
  client/public/icons/map_icons/municipalityDocuments.svg
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/MunicipalityDocumentsPanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: add custom type selection
  client/src/components/addDocument/CaroselPageTwo.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: adjust language bugs
  client/src/components/addDocument/CaroselPageTwo.jsx
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

reafctor: delete AddDocument page from Root
  client/src/components/UserRoutes.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

icons
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix cluster colors
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Adjusted icons with map.js
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/MunicipalityDocumentsPanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix center of multipolygons
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

Adjusted zoom out
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/MunicipalityDocumentsPanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"
