Repository SE2-Group1/main-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix navigate resetmarkers
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

docs: :page_facing_up: add license
  LICENSE.md
Due: none

add dynamic diagram with nodes and edges
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/components/GuestRoutes.jsx
  client/src/components/UserRoutes.jsx
  client/src/pages/LandingPage/LandingPage.jsx
  client/src/pages/diagram/components/CustomEdge.jsx
  client/src/pages/diagram/components/CustomNode.jsx
  client/src/pages/diagram/components/Label.jsx
  client/src/pages/diagram/diagramPage.jsx
  client/src/services/API.js
  client/src/utils/diagram.js
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

add legend and zoom on docs
  client/public/icons/diagram_icons/collateralConsequence.svg
  client/public/icons/diagram_icons/directConsequence.svg
  client/public/icons/diagram_icons/projection.svg
  client/public/icons/diagram_icons/update.svg
  client/src/components/GuestRoutes.jsx
  client/src/components/UserRoutes.jsx
  client/src/pages/ListView/ListView.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/pages/Navbar/Navbar.css
  client/src/pages/Navbar/Navbar.jsx
  client/src/pages/diagram/components/CustomEdge.jsx
  client/src/pages/diagram/components/CustomNode.jsx
  client/src/pages/diagram/components/DiagramLegend.jsx
  client/src/pages/diagram/diagramPage.jsx
  client/src/utils/diagram.js
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

edit positions of docs on the diagram
  client/src/components/GuestRoutes.jsx
  client/src/components/UserRoutes.jsx
  client/src/pages/diagram/components/DiagramLegend.jsx
  client/src/pages/diagram/components/EditButtons.jsx
  client/src/pages/diagram/components/Guide.jsx
  client/src/pages/diagram/diagramPage.jsx
  client/src/services/API.js
  client/src/utils/diagram.js
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix links order
  server/src/dao/documentDAO.ts
Due: prettier --write "server/**/*.ts"

nodes overlaps handling
  client/src/index.css
  client/src/pages/diagram/components/CustomNode.jsx
  client/src/pages/diagram/components/EditButtons.jsx
  client/src/pages/diagram/components/OverlappingDocsModal.jsx
  client/src/pages/diagram/diagramPage.jsx
  client/src/services/API.js
  client/src/utils/diagram.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add filters
  client/src/pages/diagram/components/DiagramLegend.jsx
  client/src/pages/diagram/components/styles.css
  client/src/pages/diagram/diagramPage.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

resolve if links are not found
  client/src/pages/login/style.css
  server/src/dao/documentDAO.ts
Due: prettier --write "server/**/*.ts"

fix nodes overlaps while editing positions
  client/src/pages/diagram/diagramPage.jsx
  client/src/utils/diagram.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix diagram positions table
  db/init.sql
Due: none

add edit links
  client/src/components/ConnectionsCard.jsx
  client/src/components/LinkModal.jsx
  client/src/components/UserRoutes.jsx
  client/src/index.css
  client/src/pages/diagram/components/ConnectionsModal.jsx
  client/src/pages/diagram/components/EditButtons.jsx
  client/src/pages/diagram/components/Guide.jsx
  client/src/pages/diagram/components/OverlappingDocsModal.jsx
  client/src/pages/diagram/diagramPage.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

switch from absolute to relative positions on diagram
  client/src/pages/diagram/diagramPage.jsx
  client/src/utils/diagram.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Added test for backend for diagram
  client/src/pages/MapView/MapView.jsx
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/document.test.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

feat: test implemented
  server/package.json
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

align to main
  client/src/components/style.css
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/ListView/ListView.css
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/pages/diagram/components/Guide.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix sonar issues
  client/src/pages/diagram/components/EditButtons.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: add mapicon
  client/public/icons/map_icons/ConsultationLKAB+municipalty.png
  client/public/icons/map_icons/Consultationmunicipalty+citizens.png
  client/public/icons/map_icons/agreementcounty.png
  client/public/icons/map_icons/agreementmunicipalty+county+lkab.png
  client/public/icons/map_icons/agreementmunicipalty+county.png
  client/public/icons/map_icons/agreementmunicipalty+lkab.png
  client/public/icons/map_icons/agreementmunicipalty.png
  client/public/icons/map_icons/conflictMunicipalty+county.png
  client/public/icons/map_icons/deesigndocLKAB+architecturefirms.png
  client/public/icons/map_icons/designdocarchitecturefirms.png
  client/public/icons/map_icons/designdocmunicialty+architecturefirms.png
  client/public/icons/map_icons/designdocmunicipalty.png
  client/public/icons/map_icons/designdocothers.png
  client/public/icons/map_icons/informativedocLKAB.png
  client/public/icons/map_icons/informativedocarchitecturefirms.png
  client/public/icons/map_icons/informativedocmunicipalty+architecturfirms.png
  client/public/icons/map_icons/informativedocmunicipalty+population.png
  client/public/icons/map_icons/informativedocmunicipalty.png
  client/public/icons/map_icons/informativedocothers.png
  client/public/icons/map_icons/materialactionLKAB.png
  client/public/icons/map_icons/prescriptivedocmunicipalty+architecturalfirms.png
  client/public/icons/map_icons/prescriptivedocmunicipalty.png
  client/public/icons/map_icons/prescriptivedocothers.png
  client/public/icons/map_icons/techicaldocarchitecturefirms.png
  client/public/icons/map_icons/technicaldocCounty.png
  client/public/icons/map_icons/technicaldocLKAB+architecturefirms.png
  client/public/icons/map_icons/technicaldocLKAB.png
  client/public/icons/map_icons/technicaldocmunicipalty+firms.png
  client/public/icons/map_icons/technicaldocmunicipalty.png
  client/src/utils/docs.js
  client/src/utils/map.js
  server/package-lock.json
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix links order on diagram
  server/src/dao/documentDAO.ts
  server/src/dao/linkDAO.ts
Due: prettier --write "server/**/*.ts"

fix add links test
  server/src/dao/linkDAO.ts
  server/test/unit/dao/link.test.ts
Due: prettier --write "server/**/*.ts"

Added apis for diagram and attachments
  docs/APIdoc.json
Due: none

feat: add new documents and links
  db/init.sql
Due: none

feat: remove duplicate scale
  db/init.sql
Due: none

feat: :boom: Added attachments
  client/src/components/AttachmentModal.jsx
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/pages/addDocument/HandleDocumentSidePanel.jsx
  client/src/services/API.js
  db/init.sql
  server/.gitignore
  server/src/components/attachment.ts
  server/src/controllers/attachmentController.ts
  server/src/controllers/documentController.ts
  server/src/dao/attachmentDAO.ts
  server/src/dao/documentDAO.ts
  server/src/routers/attachmentRoutes.ts
  server/src/routers/documentRoutes.ts
  server/src/routers/resourceRoutes.ts
  server/src/routes.ts
  server/test/unit/controller/attachment.test.ts
  server/test/unit/dao/attachment.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/attachment.test.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix: Adjust layout and spacing in MapView and HandleDocumentSidePanel components
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/pages/addDocument/HandleDocumentSidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: Adjust carousel control positioning and revoke blob URLs on side panel close
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: Enhance accessibility for carousel images in SidePanel with keyboard navigation
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

make image clickable
  client/src/pages/MapView/components/SidePanel.jsx
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

clear logs
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix clear filters
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

clear console logs
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: add bug and tests
  client/public/icons/map_icons/materialactionothers.png
  client/src/utils/diagram.js
  client/src/utils/docs.js
  server/src/dao/documentDAO.ts
  server/test/unit/dao/document.test.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

feat: add new tets
  server/package-lock.json
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

fix: sonarcloud issues
  client/src/utils/docs.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: sonarcloud issues and tests
  server/src/controllers/documentController.ts
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

Add support for image file uploads and display in ResourcesModal and SidePanel
  client/src/components/ResourcesModal.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/services/API.js
  server/src/controllers/documentController.ts
  server/src/db/db.ts
  server/src/routers/resourceRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

restored database connection logging for non-test environments
  server/src/db/db.ts
Due: prettier --write "server/**/*.ts"

fix id seq
  db/init.sql
Due: none

set initial value for resources_resourceid_seq in database initialization script
  db/init.sql
Due: none

Path conditions:
  npm run --prefix client check: any of: client/**/*.{js,jsx,mjs}
  prettier --write "client/**/*.{js,jsx,mjs}": any of: client/**/*.{js,jsx,mjs}
  prettier --write "server/**/*.ts": any of: server/**/*.ts
