Repository SE2-Group1/main-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

.lintstagedrc:

{
  "client/**/*.{js,jsx,mjs}": [
    "npm run --prefix client check",
    "prettier --write \"client/**/*.{js,jsx,mjs}\""
  ],
  "server/**/*.ts": [
    "prettier --write \"server/**/*.ts\""
  ]
}

solve issue on unit test
  server/test/unit/dao/link.test.ts
Due: prettier --write "server/**/*.ts"

add credits section to README with image attributions
  README.md
Due: none

fix navigate remove area
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix remove sonarqube issue
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: add page controller and field for inserting an area
  client/src/models/Document.js
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/pages/addDocument/CarouselForm.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix default values for icons and colors
  client/public/icons/map_icons/default.svg
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix pagination button style
  client/src/components/style.css
  client/src/pages/ListView/ListView.css
  client/src/pages/ListView/ListView.jsx
  client/src/pages/MapView/components/Legend.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: align the popup with the merge
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

backend for retrieve all areas with their georeference
  server/src/components/area.ts
  server/src/controllers/areaController.ts
  server/src/dao/areaDAO.ts
  server/src/routers/areaRoutes.ts
  server/src/routes.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

Correction of tests
  server/test/unit/controller/area.test.ts
  server/test/unit/dao/area.test.ts
  server/test/unit/routes/area.test.ts
Due: prettier --write "server/**/*.ts"

Add function to check points inside municipality area
  server/src/controllers/areaController.ts
  server/src/dao/areaDAO.ts
  server/src/routers/areaRoutes.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

Added checking inside route
  server/src/routers/areaRoutes.ts
Due: prettier --write "server/**/*.ts"

new test for area controller
  server/test/unit/controller/area.test.ts
  server/test/unit/dao/area.test.ts
Due: prettier --write "server/**/*.ts"

fix tests to get higher coverage
  server/src/dao/documentDAO.ts
  server/src/db/db.ts
  server/src/routers/areaRoutes.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/dao/language.test.ts
  server/test/unit/dao/user.test.ts
  server/test/unit/routes/area.test.ts
  server/test/unit/routes/auth.test.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

fix tests for links and documents
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/link.test.ts
Due: prettier --write "server/**/*.ts"

Test link correction
  server/test/unit/dao/link.test.ts
Due: prettier --write "server/**/*.ts"

Changes console.log
  server/src/routers/areaRoutes.ts
  server/test/unit/routes/area.test.ts
Due: prettier --write "server/**/*.ts"

Added search bar in the map
  client/src/components/style.css
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add dao tests for resources
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

fix package lock
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Due: none

fix sonar cloud issue
  client/src/components/ResourcesModal.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

reset search after side panel
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix buttons
  client/src/pages/MapView/MapView.jsx
  client/src/pages/addDocument/HandleDocumentSidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix coordinates
  client/package-lock.json
  client/package.json
  client/src/pages/Georeference/components/ManualGeoreference.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
  server/package-lock.json
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix manual input
  client/src/pages/Georeference/components/ManualGeoreference.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix manual input
  client/src/pages/MapView/MapView.jsx
  client/src/pages/addDocument/CaroselPageOne.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix packages
  client/package-lock.json
  client/package.json
  package-lock.json
  server/package-lock.json
  server/package.json
Due: none

fix package json
  client/package.json
  server/package.json
Due: none

fix: remove console log
  server/test/unit/routes/document.test.ts
Due: prettier --write "server/**/*.ts"

fix and feat: fix bugs and add area_name
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/pages/addDocument/CaroselPageOne.jsx
  client/src/pages/addDocument/CarouselForm.jsx
  client/src/services/API.js
  client/src/utils/map.js
  server/src/controllers/areaController.ts
  server/src/controllers/documentController.ts
  server/src/dao/areaDAO.ts
  server/src/dao/documentDAO.ts
  server/src/routers/areaRoutes.ts
  server/src/routers/documentRoutes.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/area.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/area.test.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

changes and refactor of the mapview
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/utils/map.js
  server/src/dao/documentDAO.ts
  server/src/db/db.ts
  server/src/routers/documentRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix:new logic of button
  client/src/pages/Georeference/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Add Technical Debt Strategy document to improve code quality and management
  TD_strategy.md
Due: none

fix: update georeference logic and improve area filtering
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

test: enhance documentDAO tests with additional stakeholder checks
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

remove seach bar on zoom, satellite version as default
  client/package-lock.json
  client/src/pages/MapView/MapView.jsx
  server/package-lock.json
  server/src/db/db.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

Added retrospective 3
  retrospective/Retrospective3.md
Due: none

Change of title
  retrospective/Retrospective3.md
Due: none

Update Retrospective3.md
  retrospective/Retrospective3.md
Due: none

fix clusters TODO rebase with main
  client/public/icons/map_icons/agreementDocument.png
  client/public/icons/map_icons/conflictDocument.png
  client/public/icons/map_icons/consultationDocument.png
  client/public/icons/map_icons/designDocument.png
  client/public/icons/map_icons/informativeDocument.png
  client/public/icons/map_icons/materialEffectsDocument.png
  client/public/icons/map_icons/municipalityDocuments.png
  client/public/icons/map_icons/prescriptiveDocument.png
  client/public/icons/map_icons/technicalDocument.png
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"
