Repository SE2-Group1/main-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

.lintstagedrc:

{
  "client/**/*.{js,jsx,mjs}": [
    "npm run --prefix client check",
    "prettier --write \"client/**/*.{js,jsx,mjs}\""
  ],
  "server/**/*.ts": [
    "prettier --write \"server/**/*.ts\""
  ]
}

feat: adjust front end popud
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix areas in db
  db/init.sql
Due: none

feat: adjustement frontend
  client/src/components/InputText.jsx
  client/src/pages/Georeference/Georeference.css
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/services/API.js
  server/src/components/area.ts
  server/src/controllers/areaController.ts
  server/src/dao/areaDAO.ts
  server/src/routers/areaRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

feat: adjustement backend
  server/src/controllers/documentController.ts
  server/src/dao/areaDAO.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
Due: prettier --write "server/**/*.ts"

Chenged backend with [lon, lat] instead of [lat, lon]
  server/src/components/area.ts
  server/src/controllers/documentController.ts
  server/src/dao/areaDAO.ts
  server/src/dao/documentDAO.ts
  server/test/unit/controller/area.test.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/area.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/area.test.ts
  server/test/unit/routes/document.test.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

front inversions fixed + login
  client/src/pages/Georeference/components/ManualGeoreference.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/pages/Navbar/Navbar.jsx
  client/src/pages/login/LoginPage.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

refactor: :ambulance: Removed Pages
  client/src/models/Document.js
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/pages/addDocument/CaroselPageTwo.jsx
  client/src/pages/addDocument/CarouselForm.jsx
  db/init.sql
  docs/APIdoc.json
  server/src/components/document.ts
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/document.test.ts
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

Added routes for areas
  docs/APIdoc.json
Due: none

fix search for clusters
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix duplicated markers on screen
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Added resources to fetch all documents and a document by id, updated tests
  server/src/components/document.ts
  server/src/dao/documentDAO.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/document.test.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

Boundaries for map and max zoom
  client/src/pages/MapView/MapView.jsx
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Fix: delete the checkbox inside the panel
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: adjust and commented test, add name area to these tests
  server/test/unit/controller/area.test.ts
  server/test/unit/controller/document.test.ts
Due: prettier --write "server/**/*.ts"

fix: adjust and commented test, add name area to these tests
  server/test/unit/dao/area.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/area.test.ts
Due: prettier --write "server/**/*.ts"

Added backend and api for edit resources of a document
  client/src/services/API.js
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

Adjusted tests with name_area
  server/src/dao/areaDAO.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/area.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/area.test.ts
  server/test/unit/routes/document.test.ts
Due: prettier --write "server/**/*.ts"

feat: add the possibility to delete coordinates in manual input
  client/public/icons/trashIcon.svg
  client/src/pages/Georeference/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: Add the manual input marker
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ManualGeoreference.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: :sparkles: Add resource management functionality and enhance UI components
  client/src/components/ResourcesModal.jsx
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/services/API.js
  db/init.sql
  server/package.json
  server/src/components/resource.ts
  server/src/controllers/documentController.ts
  server/src/controllers/resourceController.ts
  server/src/dao/documentDAO.ts
  server/src/dao/resourceDAO.ts
  server/src/routers/resourceRoutes.ts
  server/src/routes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

test: :white_check_mark: Update documentDAO tests to reflect new resource parameters
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

fix: Adjust lon and lat
  client/src/pages/Georeference/components/ExistingAreas.jsx
  server/src/dao/areaDAO.ts
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

update package lock file
  server/package-lock.json
Due: none

fix selected doc to show only that doc
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

new highlight for clicking a doc
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: :sparkles: Add filter buttons for resource types in SidePanel and style updates
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix highlight for docs
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

style: :art: Update filter button styles for consistency and adjust SidePanel resource item width
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix resetmarkers
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: add the drawing area
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/Georeference/components/ManualGeoreference.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: refactoring of the code
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/Georeference/components/ManualGeoreference.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: add fligth mode feature
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: adjust name_area
  client/src/models/Document.js
  client/src/pages/MapView/MapView.jsx
  client/src/pages/addDocument/CarouselForm.jsx
  client/src/services/API.js
  server/src/controllers/documentController.ts
  server/src/dao/areaDAO.ts
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

feat: adjust name_area and fix the description update
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/addDocument/CaroselPageTwo.jsx
  client/src/pages/addDocument/CarouselForm.jsx
  client/src/utils/map.js
  server/src/controllers/documentController.ts
  server/src/dao/areaDAO.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

feat: test implemented
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/area.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/area.test.ts
  server/test/unit/routes/document.test.ts
Due: prettier --write "server/**/*.ts"

refactor: remove console.log and comments
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/pages/addDocument/CaroselPageTwo.jsx
  client/src/pages/addDocument/CarouselForm.jsx
  client/src/services/API.js
  client/src/utils/map.js
  server/test/unit/controller/area.test.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/area.test.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

refactor: Adjust sonarcloud issues
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/Georeference/components/ManualGeoreference.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: :sparkles: Enhance file handling in ResourcesModal and SidePanel; add duplicate file check, support for additional file types, and improve UI layout
  client/src/components/ResourcesModal.jsx
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/services/API.js
  server/src/dao/documentDAO.ts
  server/src/routers/resourceRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

refactor: Adjust sonarcloud issues
  server/src/components/area.ts
  server/src/dao/areaDAO.ts
Due: prettier --write "server/**/*.ts"

test: :white_check_mark: Add test for resource backend
  server/src/routers/resourceRoutes.ts
  server/test/unit/controller/resource.test.ts
  server/test/unit/dao/resource.test.ts
  server/test/unit/routes/resource.test.ts
Due: prettier --write "server/**/*.ts"
