Repository SE2-Group1/main-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

.lintstagedrc:

{
  "client/**/*.{js,jsx,mjs}": [
    "npm run --prefix client check",
    "prettier --write \"client/**/*.{js,jsx,mjs}\""
  ],
  "server/**/*.ts": [
    "prettier --write \"server/**/*.ts\""
  ]
}

Extract georeference box to separated component.
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: Implement date check made by Mitra
  client/src/components/addDocument/AddDocumentPageTwo.jsx
  client/src/pages/addDocument/CaroselPageOne.jsx
  client/src/pages/addDocument/CaroselPageTwo.jsx
  client/src/utils/Date.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Add panel for georeferencing - Add form for manual georeferencing
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/components/GeoreferencePopup.jsx
  client/src/pages/MapView/components/ManualGeoreference.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: fix sonarcloud issues
  client/src/pages/addDocument/CaroselPageOne.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix modal for add links,fix scale pattern, add edit links
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/pages/addDocument/CaroselPageOne.jsx
  client/src/pages/addDocument/CarouselForm.jsx
  client/src/pages/addDocument/HandleDocumentSidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix a bug.
  client/src/pages/addDocument/CaroselPageOne.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add resources to documents pt1
  client/src/components/ResourcesModal.jsx
  client/src/services/API.js
  server/package-lock.json
  server/package.json
  server/src/controllers/documentController.ts
  server/src/routers/documentRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

Push the working version of manual inputs - navigation is still missing
  client/src/components/addDocument/AddDocumentPageOne.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/ExistingAreas.jsx
  client/src/pages/MapView/components/GeoreferencePopup.jsx
  client/src/pages/MapView/components/ManualGeoreference.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add z-index
  client/src/pages/MapView/MapView.css
Due: none

fix styles.
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/components/ExistingAreas.jsx
  client/src/pages/MapView/components/GeoreferencePopup.jsx
  client/src/pages/MapView/components/ManualGeoreference.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

increase size to avoid overlap
  client/src/pages/MapView/MapView.css
Due: none

Validate the manually entered coordinates.
  client/src/pages/MapView/components/ManualGeoreference.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Add description to 3rd option - selection on map.
  client/src/pages/MapView/components/ExistingAreas.jsx
  client/src/pages/MapView/components/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix the validation...
  client/src/pages/MapView/components/ManualGeoreference.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

change checkboxes in georeference frame to radio buttons.
  client/src/pages/MapView/components/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: fix bug add custom stk
  server/src/dao/documentDAO.ts
Due: prettier --write "server/**/*.ts"

add pointInPolygon validator.
  client/src/pages/MapView/components/ManualGeoreference.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix polygon closure - 1
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/GeoreferencePopup.jsx
  client/src/pages/MapView/components/ManualGeoreference.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix editing georeference after adding a doc with mun area
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

delete addDocumentPageOne from components
  client/src/components/addDocument/AddDocumentPageOne.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Save manual polygons.
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

refactor
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Add layer to manual polygon ASA sidepannel closes.
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix the issue: [the buttons on top will show only if the urban planner chooses to draw the area himself]
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

disable save button for georeferencing after form pops up.
  client/src/pages/MapView/components/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix
  client/src/pages/MapView/components/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

disable button
  client/src/pages/MapView/components/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

refactor
  client/src/pages/MapView/components/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

main refactor
  client/src/pages/Georeference/Georeference.css
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/Georeference/components/ManualGeoreference.jsx
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

show coordinates in onMap mode
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ManualGeoreference.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

remove dependency
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

todo fix for images
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

(feat): updated APIdoc
  docs/APIdoc.json
Due: none

Delete .env
  .env
Due: none

(feat): added backend integration for handling resources
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
Due: prettier --write "server/**/*.ts"

(fix): removed logs
  server/src/dao/documentDAO.ts
Due: prettier --write "server/**/*.ts"

Add function to check points inside municipality area
  server/src/controllers/areaController.ts
  server/src/dao/areaDAO.ts
  server/src/routers/areaRoutes.ts
  server/src/routes.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

Added checking inside route
  server/src/routers/areaRoutes.ts
Due: prettier --write "server/**/*.ts"
