Repository SE2-Group1/main-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

cleaning comments
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix import icons
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: documentation uploaded with the changes about the georeference.
  docs/APIdoc.json
Due: none

add palette, reusable components, fix styles
  client/src/components/Button.jsx
  client/src/components/CtaButton.jsx
  client/src/components/LinkModal.jsx
  client/src/components/Map.jsx
  client/src/components/SearchBar.jsx
  client/src/components/style.css
  client/src/index.css
  client/src/pages/addDocument/AddDocument.css
  client/src/pages/addDocument/AddDocumentPage.jsx
  client/src/pages/home/Home.css
  client/src/pages/home/components/NavComponent.css
  client/src/pages/home/components/NavWindow.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

clusters for docs that belong to the same point
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix navbar view map when in add doc mode + new icons for docs
  client/public/icons/map_icons/agreementDocument.svg
  client/public/icons/map_icons/conflictDocument.svg
  client/public/icons/map_icons/consultationDocument.svg
  client/public/icons/map_icons/designDocument.svg
  client/public/icons/map_icons/informativeDocument.svg
  client/public/icons/map_icons/materialEffectsDocument.svg
  client/public/icons/map_icons/prescriptiveDocument.svg
  client/public/icons/map_icons/technicalDocument.svg
  client/src/pages/MapView/MapView.jsx
  client/src/pages/Navbar/Navbar.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix title in light api for docs infos
  client/src/pages/MapView/MapView.jsx
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix tests, need to check the addDocument dao test
  server/src/routers/documentRoutes.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

fix tests
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

Add unit tests for addDocument in document DAO.
  server/src/dao/documentDAO.ts
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

fix: Modify Side panel adding the icon
  client/src/pages/MapView/SidePanel.jsx
  client/src/utils/IconsMapper.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: Fix bugs about the selected area in the map view
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: Remove comments
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix municipality area
  db/init.sql
Due: none

feat: Implement HomePage and Header components; update routing and document handling
  client/public/images/diagramColumn.jpg
  client/public/images/listColumn.jpg
  client/public/images/mapColumn.png
  client/src/components/GuestRoutes.jsx
  client/src/components/Header.jsx
  client/src/components/style.css
  client/src/pages/LandingPage/LandingPage.css
  client/src/pages/LandingPage/LandingPage.jsx
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/errors/documentError.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

changes in css of the map
  client/src/pages/MapView/MapView.css
  client/src/pages/Navbar/Navbar.css
Due: none

Add unit tests for updating document.
  server/src/dao/documentDAO.ts
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

Merge branch 'main' into backend-kx4
  client/public/fonts/Poppins/OFL.txt
  client/public/fonts/Poppins/Poppins-Black.ttf
  client/public/fonts/Poppins/Poppins-BlackItalic.ttf
  client/public/fonts/Poppins/Poppins-Bold.ttf
  client/public/fonts/Poppins/Poppins-BoldItalic.ttf
  client/public/fonts/Poppins/Poppins-ExtraBold.ttf
  client/public/fonts/Poppins/Poppins-ExtraBoldItalic.ttf
  client/public/fonts/Poppins/Poppins-ExtraLight.ttf
  client/public/fonts/Poppins/Poppins-ExtraLightItalic.ttf
  client/public/fonts/Poppins/Poppins-Italic.ttf
  client/public/fonts/Poppins/Poppins-Light.ttf
  client/public/fonts/Poppins/Poppins-LightItalic.ttf
  client/public/fonts/Poppins/Poppins-Medium.ttf
  client/public/fonts/Poppins/Poppins-MediumItalic.ttf
  client/public/fonts/Poppins/Poppins-Regular.ttf
  client/public/fonts/Poppins/Poppins-SemiBold.ttf
  client/public/fonts/Poppins/Poppins-SemiBoldItalic.ttf
  client/public/fonts/Poppins/Poppins-Thin.ttf
  client/public/fonts/Poppins/Poppins-ThinItalic.ttf
  client/public/icons/mailIcon.svg
  client/public/icons/passwordIcon.svg
  client/public/icons/profileIcon.svg
  client/public/images/loginImage.png
  client/src/components/Header.jsx
  client/src/components/InputText.jsx
  client/src/components/NavigationButton.jsx
  client/src/components/style.css
  client/src/index.css
  client/src/pages/LandingPage/LandingPage.jsx
  client/src/pages/login/LoginPage.jsx
  client/src/pages/login/components/LoginButton.jsx
  client/src/pages/login/components/LoginForm.jsx
  client/src/pages/login/components/style.css
  client/src/pages/login/style.css
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

edit addDocument in document dao
  .gitignore
  client/src/pages/LandingPage/LandingPage.css
  client/src/pages/MapView/MapView.jsx
  server/package-lock.json
  server/package.json
  server/src/components/area.ts
  server/src/controllers/documentController.ts
  server/src/dao/areaDAO.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
  server/src/utils.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

add landing page, fix styles
  client/src/components/GuestRoutes.jsx
  client/src/components/Header.jsx
  client/src/components/Map.jsx
  client/src/components/NavigationButton.jsx
  client/src/components/UserRoutes.jsx
  client/src/components/style.css
  client/src/index.css
  client/src/pages/LandingPage/LandingPage.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/pages/Navbar/Navbar.jsx
  client/src/pages/home/Home.css
  client/src/pages/home/HomePage.jsx
  client/src/pages/home/components/NavComponent.css
  client/src/pages/home/components/NavComponent.jsx
  client/src/pages/home/components/NavWindow.css
  client/src/pages/home/components/NavWindow.jsx
  client/src/pages/login/components/LoginButton.jsx
  client/src/pages/login/style.css
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

new legend + map style
  client/public/icons/map_icons/layersIcon.svg
  client/public/icons/map_icons/legendIcon.svg
  client/src/components/UserRoutes.jsx
  client/src/components/style.css
  client/src/pages/LandingPage/LandingPage.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/utils/IconsMapper.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

new legend + map style in map view
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

new draw municipality area while adding document
  client/public/icons/house.svg
  client/src/pages/MapView/MapView.jsx
  client/src/pages/Navbar/Navbar.css
  client/src/pages/Navbar/Navbar.jsx
  client/src/services/API.js
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix hide view diagram
  client/src/pages/Navbar/Navbar.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: Add custom input text and drop down button for add document
  client/src/components/InputText.jsx
  client/src/components/TextArea.jsx
  client/src/components/addDocument/AddDocumentInputText.jsx
  client/src/components/addDocument/AddDocumentTextArea.jsx
  client/src/components/addDocument/DropDownAddDocument.jsx
  client/src/components/addDocument/style.css
  client/src/components/style.css
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: implement the side pannel
  client/src/pages/addDocument/AddDocumentSidePanel.css
  client/src/pages/addDocument/AddDocumentSidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: implement the carosel with the logic
  client/src/components/addDocument/AddDocumentPageOne.jsx
  client/src/components/addDocument/AddDocumentPageTwo.jsx
  client/src/components/addDocument/CustomCarousel.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/pages/Navbar/Navbar.jsx
  client/src/pages/addDocument/AddDocumentPage.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: implement data and util functions
  client/src/hooks/useDocumentInfos.js
  client/src/models/Document.js
  client/src/utils/Date.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

refactor: remove comments and console.log
  client/src/components/addDocument/AddDocumentPageOne.jsx
  client/src/components/addDocument/style.css
  client/src/hooks/useDocumentInfos.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: refactor and fix bugs
  client/src/components/InputText.jsx
  client/src/components/addDocument/AddDocumentInputText.jsx
  client/src/components/addDocument/AddDocumentPageTwo.jsx
  client/src/components/addDocument/CustomCarousel.jsx
  client/src/models/Document.js
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/SidePanel.jsx
  client/src/pages/addDocument/AddDocumentSidePanel.css
  client/src/pages/addDocument/AddDocumentSidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: fix backend bugs
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/dao/languageDAO.ts
Due: prettier --write "server/**/*.ts"

add trigger to remove unused areas
  db/init.sql
Due: none

add possibility to customize buttons
  .gitignore
  client/src/components/Button.jsx
  client/src/components/CtaButton.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

test and fix.
  server/src/dao/languageDAO.ts
  server/test/unit/controller/document.test.ts
Due: prettier --write "server/**/*.ts"

Changed and new tests
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

Change of addDocument api according to the code
  .env
  docs/APIdoc.json
Due: none

test
  server/test/unit/routes/document.test.ts
Due: prettier --write "server/**/*.ts"

(dix)
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add sidepanel to listDocument
  client/src/pages/ListView/ListView.css
  client/src/pages/ListView/ListView.jsx
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Path conditions:
  npm run --prefix client check: any of: client/**/*.{js,jsx,mjs}
  prettier --write "client/**/*.{js,jsx,mjs}": any of: client/**/*.{js,jsx,mjs}
  prettier --write "server/**/*.ts": any of: server/**/*.ts
