Repository SE2-Group1/main-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

add CI pipeline
  .github/workflows/ci.yaml
  client/README.md
  package.json
Due: none

(new) db connection
  server/index.ts
  server/src/dao/userDAO.ts
  server/src/db/db.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

Update testAPI.http
  server/testAPI.http
Due: none

Update index.ts
  server/index.ts
Due: prettier --write "server/**/*.ts"

feat: implement API.js
  client/src/services/API.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

install react-router-dom.
  package-lock.json
  package.json
Due: none

Login form, css file and structure of routes
  client/src/App.jsx
  client/src/components/LoginForm.jsx
  client/src/index.css
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

KX1. add UI for submiting new document.
  client/src/App.jsx
  client/src/components/DocumentForm.jsx
  client/src/components/style.css
  client/src/models/Document.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: implement the api into UI
  client/src/App.jsx
  client/src/services/API.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add document API, add userRoles
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
  server/src/components/document.ts
  server/src/components/user.ts
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/db/db.db
  server/src/errors/documentError.ts
  server/src/routers/auth.ts
  server/src/routers/documentRoutes.ts
  server/src/routes.ts
  server/src/utilities.ts
Due: prettier --write "server/**/*.ts"

feat: link the function for upload a document, login an user, and fetch the stakeholders, with the UI. Add login context
  client/src/App.jsx
  client/src/components/DocumentForm.jsx
  client/src/context/loggedInContext.js
  client/src/services/API.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix type of fields.
  client/src/components/DocumentForm.jsx
  client/src/models/Document.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: fix null bug in userContext and change the name of the context
  client/src/App.jsx
  client/src/context/loggedInContext.js
  client/src/context/userContext.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add stakeholder API, fix document by adding the stakeholders
  server/src/components/stakeholder.ts
  server/src/controllers/documentController.ts
  server/src/controllers/stakeholderController.ts
  server/src/dao/documentDAO.ts
  server/src/dao/stakeholderDAO.ts
  server/src/errors/stakeholderError.ts
  server/src/routers/documentRoutes.ts
  server/src/routers/stakeholderRoutes.ts
  server/src/routes.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

Correct italian to english
  client/src/App.jsx
  client/src/components/LoginForm.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: implement API for getting the scales and the types
  client/src/services/API.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add pages field, make scale, type, and language drop down (to-be retrieved from db), remove year range from issuance date
  client/src/components/DocumentForm.jsx
  client/src/models/Document.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

make fields required
  client/src/components/DocumentForm.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: implement new API for linking the documents and for retriving the language
  client/src/components/DocumentForm.jsx
  client/src/services/API.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

move postgre to docker
  db/init.sql
  docker-compose.yaml
  package.json
Due: none

set pages-field type to regexed-text
  client/src/components/DocumentForm.jsx
  client/src/models/Document.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

move postgre to docker pt2
  .env.example
  .gitignore
  .nvmrc
  docker-compose.yaml
  server/index.ts
  server/package-lock.json
  server/package.json
  server/src/db/cleanup.ts
  server/src/db/db.db
  server/src/db/db.ts
  server/src/db/testdb.db
  server/src/routers/auth.ts
  server/test/unit/dao/user.test.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

update readme
  README.md
Due: none

add new db schema, reset-db script and fix tests
  server/package-lock.json
  server/package.json
  server/src/dao/userDAO.ts
  server/src/db/db.ts
  server/test/unit/controller/user.test.ts
  server/test/unit/dao/user.test.ts
Due: prettier --write "server/**/*.ts"

minor changes
  db/init.sql
  package.json
Due: none

update ci
  .github/workflows/ci.yaml
Due: none

fix ci pipeline
  .github/workflows/ci.yaml
Due: none

fix tests
  server/package-lock.json
  server/package.json
  server/test/unit/dao/user.test.ts
Due: prettier --write "server/**/*.ts"

restore ci trigger event on main
  .github/workflows/ci.yaml
Due: none

Add document linker and document submition page.
  client/src/components/AddDocumentPage.jsx
  client/src/components/DocumentLinker.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add bootstrap-icons
  client/index.html
Due: none

Restyle document form and add flow between components.
  client/src/App.jsx
  client/src/components/DocumentForm.jsx
  client/src/models/Document.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Update style.css
  client/src/components/style.css
Due: none

Add linkDAO and errorHandler for linking.
  server/src/components/connection.ts
  server/src/dao/linkDAO.ts
  server/src/errors/linkError.ts
Due: prettier --write "server/**/*.ts"

add type
  server/src/dao/linkDAO.ts
Due: prettier --write "server/**/*.ts"

fix a issue
  server/src/components/connection.ts
  server/src/dao/linkDAO.ts
Due: prettier --write "server/**/*.ts"

separate functions
  server/src/dao/linkDAO.ts
Due: prettier --write "server/**/*.ts"

fix tests
  .github/workflows/ci.yaml
  .gitignore
  README.md
  package.json
  server/package.json
  server/src/dao/documentDAO.ts
  server/src/dao/stakeholderDAO.ts
  server/src/dao/userDAO.ts
  server/src/db/cleanup.ts
  server/src/db/db.ts
  server/src/routers/auth.ts
  server/test/unit/controller/user.test.ts
  server/test/unit/dao/user.test.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

(fix) linkDAO queries
  server/src/components/connection.ts
  server/src/dao/linkDAO.ts
Due: prettier --write "server/**/*.ts"

Path conditions:
  npm run --prefix client check: any of: client/**/*.{js,jsx,mjs}
  prettier --write "client/**/*.{js,jsx,mjs}": any of: client/**/*.{js,jsx,mjs}
  prettier --write "server/**/*.ts": any of: server/**/*.ts
