Repository SE2-Group1/main-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

.lintstagedrc:

{
  "client/**/*.{js,jsx,mjs}": [
    "npm run --prefix client check",
    "prettier --write \"client/**/*.{js,jsx,mjs}\""
  ],
  "server/**/*.ts": [
    "prettier --write \"server/**/*.ts\""
  ]
}

api for checking point inside municipality area
  client/src/services/API.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

new legend
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/components/Legend.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

new dependencies for turf
  client/package-lock.json
  client/package.json
  server/package-lock.json
Due: none

new test for area controller
  server/test/unit/controller/area.test.ts
  server/test/unit/dao/area.test.ts
Due: prettier --write "server/**/*.ts"

(fix): frontend response handling
  client/src/components/ResourcesModal.jsx
  client/src/services/API.js
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix tests to get higher coverage
  server/src/dao/documentDAO.ts
  server/src/db/db.ts
  server/src/routers/areaRoutes.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/dao/language.test.ts
  server/test/unit/dao/user.test.ts
  server/test/unit/routes/area.test.ts
  server/test/unit/routes/auth.test.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

fix tests for links and documents
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/link.test.ts
Due: prettier --write "server/**/*.ts"

fix legend buttons
  client/src/pages/MapView/components/Legend.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix resources fields
  db/init.sql
Due: none

idk
  client/package-lock.json
  server/package-lock.json
Due: none

fix: :ambulance: updated path handling
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
Due: prettier --write "server/**/*.ts"

delete redundant set states, refresh docs after links update
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix docs dont show when user is not logged in, navigate to a doc after creating it
  client/src/components/GuestRoutes.jsx
  client/src/components/LayoutWithNavbar.jsx
  client/src/components/LinkModal.jsx
  client/src/components/UserRoutes.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/pages/addDocument/HandleDocumentSidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: :art: updated doc handling
  client/src/components/ResourcesModal.jsx
  server/src/controllers/documentController.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix buttons styles
  client/src/components/style.css
Due: none

add files extensions
  client/package-lock.json
  server/.gitignore
  server/package-lock.json
  server/src/controllers/documentController.ts
Due: prettier --write "server/**/*.ts"

feat: frontend of existing points almost completed
  client/src/pages/Georeference/Georeference.css
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

show edit document info only for logged in users
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

clear console log
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

navigate not working needs a lokk
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix links navigation
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix sonar cloud issues
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: Add map selection
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix coordinates format, handle navigation after editing a doc
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/pages/addDocument/CarouselForm.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: navigation completed
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix remove area when a doc is not selected
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

new resources modified
  client/package-lock.json
  client/package.json
  db/init.sql
  package-lock.json
  server/package-lock.json
  server/package.json
Due: none

fix: fix clear areas,points
  client/src/pages/Georeference/components/ExistingAreas.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: Adjust modaltitle
  client/src/pages/Georeference/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

refactor: refactor ExistingAreas.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/services/API.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix grouped links for side panel
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

solve sonar qube issues
  client/src/pages/Georeference/Georeference.css
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: :building_construction: updated db
  db/init.sql
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
Due: prettier --write "server/**/*.ts"

fix navigate for links
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

clear console logs
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

solve the sonar qube issues on server after mergeing BK
  server/src/dao/areaDAO.ts
  server/src/routers/areaRoutes.ts
  server/test/unit/dao/link.test.ts
Due: prettier --write "server/**/*.ts"

fix: :art: enhance ResourcesModal layout and functionality
  client/src/components/ResourcesModal.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"
