Repository SE2-Group1/main-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

datePicker on listView
  client/src/pages/ListView/ListView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix
  client/src/components/DateRangePicker.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: resolve sonarcloude issue
  client/src/pages/Georeference/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix tests for document dao
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

handle remove date filter
  client/src/components/DateRangePicker.jsx
  client/src/components/Filter.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

set isClearable selectedDate to true
  client/src/components/DateRangePicker.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: :bug: Simplify condition in ResourcesModal to always fetch files when shown
  client/src/components/ResourcesModal.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix disappearing markers while zooming
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: Fixing bugs
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

manage dependencies
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

filter on Map Done - ToDo "date" on list
  client/src/components/DateRangePicker.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/services/API.js
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix: Fix area form in existing page
  client/src/pages/Georeference/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: Fix area form in existing page fix:fix default area selection
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

date filter on map -> done
  client/src/pages/ListView/ListView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

date filter on list -> done
  client/src/pages/ListView/ListView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add back button to login page
  client/src/pages/login/LoginPage.jsx
  client/src/pages/login/components/LoginForm.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

onClick filter icon => Fixed
  client/src/components/Filter.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

reset filters => done
  client/public/icons/filter-icon.svg
  client/public/icons/filterList.svg
  client/public/icons/reset-icon.svg
  client/src/components/Filter.jsx
  client/src/components/style.css
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

municipality checkbox and stylings fix => done
  client/src/components/Filter.jsx
  client/src/components/style.css
  client/src/pages/ListView/ListView.css
  client/src/pages/ListView/ListView.jsx
  client/src/pages/addDocument/AddDocument.css
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: resolve duplicated areas
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/Georeference/components/ManualGeoreference.jsx
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: fix bugs due to coordinates
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

refactor: remove console log
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix css
  client/src/components/Filter.jsx
  client/src/components/style.css
  client/src/pages/ListView/ListView.css
  client/src/pages/ListView/ListView.jsx
  client/src/pages/addDocument/AddDocument.css
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix sonar issues - 1
  client/src/components/Filter.jsx
  client/src/pages/ListView/ListView.jsx
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/document.test.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix
  client/src/components/style.css
  server/src/dao/documentDAO.ts
Due: prettier --write "server/**/*.ts"

fix
  client/src/components/style.css
  client/src/pages/addDocument/AddDocument.css
Due: none

fix style
  client/src/components/Filter.jsx
  client/src/components/style.css
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: adjust municipality area
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: adjust cancel coordinates
  client/src/pages/Georeference/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix icon path
  client/src/components/Filter.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

rebase to main
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

feat: add function to map the new icons
  client/public/icons/map_icons/Consultation LKAB+municipalty.png
  client/public/icons/map_icons/Consultation municipalty+citizens.png
  client/public/icons/map_icons/agreement county.png
  client/public/icons/map_icons/agreement municipalty +county +lkab.png
  client/public/icons/map_icons/agreement municipalty +county.png
  client/public/icons/map_icons/agreement municipalty +lkab.png
  client/public/icons/map_icons/agreement municipalty.png
  client/public/icons/map_icons/conflict Municipalty+ county.png
  client/public/icons/map_icons/deesign doc LKAB + architecture firms.png
  client/public/icons/map_icons/design doc architecture firms.png
  client/public/icons/map_icons/design doc municialty+ architecture firms.png
  client/public/icons/map_icons/design doc municipalty.png
  client/public/icons/map_icons/design doc others.png
  client/public/icons/map_icons/informative doc LKAB.png
  client/public/icons/map_icons/informative doc architecture firms.png
  client/public/icons/map_icons/informative doc municipalty+ population.png
  client/public/icons/map_icons/informative doc municipalty+architectur firms.png
  client/public/icons/map_icons/informative doc municipalty.png
  client/public/icons/map_icons/informative doc others.png
  client/public/icons/map_icons/material action LKAB.png
  client/public/icons/map_icons/material action others.png
  client/public/icons/map_icons/prescriptive doc  others.png
  client/public/icons/map_icons/prescriptive doc municipalty +architectural firms.png
  client/public/icons/map_icons/prescriptive doc municipalty.png
  client/public/icons/map_icons/techical doc architecture firms.png
  client/public/icons/map_icons/technical doc County.png
  client/public/icons/map_icons/technical doc LKAB + architecture firms.png
  client/public/icons/map_icons/technical doc LKAB.png
  client/public/icons/map_icons/technical doc municipalty+ firms.png
  client/public/icons/map_icons/technical doc municipalty.png
  client/src/pages/MapView/MunicipalityDocumentsPanel.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/utils/docs.js
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

uncomment db connection log
  server/src/db/db.ts
Due: prettier --write "server/**/*.ts"

feat: add the png icons
  client/src/utils/map.js
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix: resolve bug custom stakeholder and custom scale
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
Due: prettier --write "server/**/*.ts"

refactor: remove console.log
  server/src/dao/documentDAO.ts
Due: prettier --write "server/**/*.ts"

fix: test fixed
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

fix filters navigation
  client/src/components/Filter.jsx
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/pages/addDocument/CaroselPageOne.jsx
  client/src/services/API.js
  client/src/utils/map.js
  server/src/controllers/documentController.ts
  server/src/dao/areaDAO.ts
  server/src/dao/documentDAO.ts
  server/test/unit/routes/area.test.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

Added new apis
  docs/APIdoc.json
Due: none

fix: show clusters on changing map style
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Path conditions:
  npm run --prefix client check: any of: client/**/*.{js,jsx,mjs}
  prettier --write "client/**/*.{js,jsx,mjs}": any of: client/**/*.{js,jsx,mjs}
  prettier --write "server/**/*.ts": any of: server/**/*.ts
