Repository SE2-Group1/main-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

.lintstagedrc:

{
  "client/**/*.{js,jsx,mjs}": [
    "npm run --prefix client check",
    "prettier --write \"client/**/*.{js,jsx,mjs}\""
  ],
  "server/**/*.ts": [
    "prettier --write \"server/**/*.ts\""
  ]
}

refactor: Adjust bugs
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/Georeference/components/ManualGeoreference.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix cluster navigation from doc list
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix remove highligh while closing sidepanel
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix disappearing clusters
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

style: :art: Remove unused resource-item styles and add margin-top to paragraph in SidePanel component
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add filter on ListView page (also search option on description)
  client/public/icons/filterList.svg
  client/src/pages/ListView/Filter.jsx
  client/src/pages/ListView/ListView.css
  client/src/pages/ListView/ListView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix map re-render on add new doc
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix a bug
  client/src/pages/ListView/Filter.jsx
  client/src/pages/ListView/ListView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

return badge
  client/src/pages/ListView/Filter.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

filter on map
  client/src/pages/ListView/Filter.jsx
  client/src/pages/ListView/ListView.css
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/MapView.jsx
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

to do: fix the unit tests in server
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/document.test.ts
Due: prettier --write "server/**/*.ts"

fix:Adjust bugs
  client/src/pages/Georeference/components/ExistingAreas.jsx
  server/src/dao/areaDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

Chenged backend with [lon, lat] instead of [lat, lon]
  server/testAPI.http
Due: none

Added resources to fetch all documents and a document by id, updated tests
  server/src/components/document.ts
  server/src/dao/documentDAO.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/document.test.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

Boundaries for map and max zoom
  client/src/pages/MapView/MapView.jsx
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Added backend and api for edit resources of a document
  client/src/services/API.js
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

Update resources part
  server/src/components/document.ts
  server/src/controllers/documentController.ts
  server/src/controllers/resourceController.ts
  server/src/dao/documentDAO.ts
  server/src/dao/resourceDAO.ts
  server/src/routers/documentRoutes.ts
  server/src/routers/resourceRoutes.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/document.test.ts
Due: prettier --write "server/**/*.ts"

Modal for edit resources of a document
  client/src/components/ResourcesModal.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/services/API.js
  server/src/controllers/resourceController.ts
  server/src/dao/resourceDAO.ts
  server/src/routers/resourceRoutes.ts
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

Solved issue 1
  client/src/pages/MapView/MapView.jsx
  server/src/dao/resourceDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

Issue 2
  server/src/dao/resourceDAO.ts
Due: prettier --write "server/**/*.ts"

Trying to fix issued
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

not good
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

refactor: Adjust sonarcloud issues
  client/src/pages/MapView/components/SidePanel.jsx
  server/src/dao/resourceDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

refactor: Adjust sonarcloud issues
  server/src/dao/resourceDAO.ts
Due: prettier --write "server/**/*.ts"

feat: UI adjustment
  client/public/icons/DrawAreaPoint.svg
  client/public/icons/ExistingAreaPoint.svg
  client/public/icons/ManualGeoreference.svg
  client/src/pages/Georeference/Georeference.css
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/Georeference/components/ManualGeoreference.jsx
  client/src/pages/Georeference/components/NavButtonPopup.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: :bug: Fixed bug in add resource
  client/src/components/ResourcesModal.jsx
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/services/API.js
  server/src/dao/documentDAO.ts
  server/src/routers/resourceRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

feat: UI adjustment Disabled
  client/src/pages/Georeference/Georeference.css
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: UI Finished
  client/src/pages/Georeference/Georeference.css
  client/src/pages/Georeference/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix:
  client/src/pages/Georeference/Georeference.css
  client/src/pages/Georeference/GeoreferencePopup.jsx
  client/src/pages/Georeference/components/ExistingAreas.jsx
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: adjust button nav style
  client/src/pages/Georeference/Georeference.css
  client/src/pages/Georeference/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix title popup
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

resolved bug remove -> add
  client/src/components/ResourcesModal.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

adjust edit links and resources from list of documents
  client/src/pages/ListView/ListView.jsx
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

improve test coverage to 88%
  server/src/controllers/documentController.ts
  server/src/db/db.ts
  server/src/routers/documentRoutes.ts
  server/src/routers/languageRoutes.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/auth.test.ts
  server/test/unit/routes/document.test.ts
  server/test/unit/routes/language.test.ts
  server/test/unit/routes/linkType.test.ts
  server/test/unit/routes/scale.test.ts
  server/test/unit/routes/stakeholder.test.ts
Due: prettier --write "server/**/*.ts"

fix: adjust button exit style
  client/src/pages/Georeference/GeoreferencePopup.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: resolve bug
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add new api to filter docs on MapView
  client/src/pages/MapView/MapView.jsx
  client/src/services/API.js
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

remove logs, fix css of filter, refactor
  client/src/components/Filter.jsx
  client/src/components/SearchBar.jsx
  client/src/components/style.css
  client/src/pages/ListView/ListView.css
  client/src/pages/ListView/ListView.jsx
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix a bug
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add DatePicker (not functional)
  client/package-lock.json
  client/package.json
  client/src/components/DateRangePicker.jsx
  client/src/components/Filter.jsx
  client/src/components/style.css
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"
