Repository SE2-Group1/main-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

(fix): handle close modal when deleted document
  client/src/pages/ListView/ListView.jsx
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add possibility to add links for documents
  client/src/components/LinkModal.jsx
  client/src/components/addDocument/CustomCarousel.jsx
  client/src/components/style.css
  client/src/pages/MapView/MapView.jsx
  client/src/pages/addDocument/AddDocumentSidePanel.css
  client/src/pages/addDocument/AddDocumentSidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix side panel shown when adding a document
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix link names in side panel
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix buttons not working when add document is open
  client/src/pages/addDocument/AddDocumentSidePanel.css
  client/src/pages/addDocument/AddDocumentSidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix description side panel
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix link types + doc in sidepanel
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/SidePanel.jsx
  server/src/components/link.ts
  server/src/dao/linkDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix tests
  server/test/unit/dao/document.test.ts
  server/test/unit/dao/link.test.ts
Due: prettier --write "server/**/*.ts"

fix package.json
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
  server/test/unit/dao/link.test.ts
  server/test/unit/routes/document.test.ts
Due: prettier --write "server/**/*.ts"

(sort): update document sorting to alphabetical order by title
  client/src/pages/ListView/ListView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat kx5
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/SidePanel.jsx
  client/src/services/API.js
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

add docker for production
  client/.dockerignore
  client/Dockerfile
  docker-compose.dev.yaml
  docker-compose.prod.yaml
  package.json
  server/.dockerignore
  server/Dockerfile
  server/index.ts
  server/package-lock.json
  server/package.json
  server/src/db/db.ts
Due: prettier --write "server/**/*.ts"

fix docker for prod
  client/.dockerignore
  server/.dockerignore
Due: none

Routes tests for type and document
  server/src/routers/typeRoutes.ts
  server/test/unit/routes/document.test.ts
  server/test/unit/routes/type.test.ts
Due: prettier --write "server/**/*.ts"

Added addDocument and updateDocument
  server/test/unit/routes/document.test.ts
Due: prettier --write "server/**/*.ts"

add area dao test.
  server/test/unit/dao/area.test.ts
Due: prettier --write "server/**/*.ts"

add controller area test
  server/test/unit/controller/area.test.ts
Due: prettier --write "server/**/*.ts"

add router area test
  server/test/unit/routes/area.test.ts
Due: prettier --write "server/**/*.ts"

Adding retrospective 2
  retrospective/Retrospective2.md
Due: none

fix display docs + data in db
  client/package-lock.json
  client/package.json
  client/src/pages/MapView/MapView.jsx
  db/init.sql
  server/package-lock.json
  server/package.json
  server/src/dao/areaDAO.ts
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

Fix some bugs - Add coordinates to sidePanel.
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/SidePanel.jsx
  client/src/services/API.js
  client/src/utils/CenterCalculator.js
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

remove faulsy tests.
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/document.test.ts
Due: prettier --write "server/**/*.ts"

Fix ViewList.
  client/src/pages/ListView/ListView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

(fix) data in db
  db/init.sql
  server/src/dao/areaDAO.ts
Due: prettier --write "server/**/*.ts"

(new) screenshot 1
  Screenshots/screenshot_1.PNG
Due: none

(new) screenshots
  Screenshots/screenshot_1.PNG
  Screenshots/screenshot_2.PNG
Due: none

(new) screen number 2
  Screenshots/screenshot_2.PNG
Due: none

fix the cordinates on list
  client/src/pages/ListView/ListView.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

(fix) remove kiruna from dependencies
  client/package-lock.json
  client/package.json
  package-lock.json
Due: none

(fix) remove kiruna from dependencies
  server/package-lock.json
  server/package.json
Due: none

add missing package lock files
  client/package-lock.json
  package-lock.json
  server/package-lock.json
Due: none

fix test
  server/test/unit/dao/area.test.ts
Due: prettier --write "server/**/*.ts"

comment bugy part
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add clickable coordinates to side pannel (both in list and map)
  client/src/pages/MapView/MapView.jsx
  client/src/utils/CenterCalculator.js
  server/test/unit/dao/area.test.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

refactor map pt1
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/SidePanel.jsx
  client/src/pages/Navbar/Navbar.jsx
  client/src/pages/addDocument/AddDocumentSidePanel.jsx
  client/src/services/API.js
  client/src/utils/docTypeMapper.js
  server/src/dao/areaDAO.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix test on document dao
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

(new) clickable docs in links list
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  server/src/components/link.ts
  server/src/dao/linkDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

(fix) tests for links
  server/src/components/link.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/document.test.ts
Due: prettier --write "server/**/*.ts"

fix table resources
  db/init.sql
Due: none

fix scroll to the top when selected a new document
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Path conditions:
  npm run --prefix client check: any of: client/**/*.{js,jsx,mjs}
  prettier --write "client/**/*.{js,jsx,mjs}": any of: client/**/*.{js,jsx,mjs}
  prettier --write "server/**/*.ts": any of: server/**/*.ts
