Repository SE2-Group1/main-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix files format
  server/src/components/connection.ts
  server/src/dao/linkDAO.ts
Due: prettier --write "server/**/*.ts"

(new) init for db
  db/init.sql
Due: none

(ignore)
  server/src/dao/linkDAO.ts
Due: prettier --write "server/**/*.ts"

(ignore)
  .husky/pre-commit
  package-lock.json
Due: none

fix a bug and add comments
  client/src/components/AddDocumentPage.jsx
  client/src/components/DocumentLinker.jsx
  client/src/models/Connection.jsx
  client/src/models/Document.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

(new) populated db
  db/init.sql
Due: none

(fix) fix documentdao, controller, routes
  db/init.sql
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/helper.ts
  server/src/routers/auth.ts
  server/src/routers/documentRoutes.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

(new) check document constraints
  db/init.sql
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/errors/documentError.ts
  server/src/routers/documentRoutes.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

documentDAO test v1.0
  server/src/components/document.ts
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/db/db.ts
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

(edit) remove echo from pre commit
  .husky/pre-commit
Due: none

(merge) backend + frontend
  client/package-lock.json
  client/src/App.jsx
  client/src/components/AddDocumentPage.jsx
  client/src/components/DocumentForm.jsx
  client/src/components/DocumentLinker.jsx
  client/src/components/LoginForm.jsx
  client/src/models/Document.jsx
  client/src/services/API.js
  server/index.ts
  server/package-lock.json
  server/src/components/document.ts
  server/src/components/language.ts
  server/src/components/linktype.ts
  server/src/components/scale.ts
  server/src/components/type.ts
  server/src/controllers/documentController.ts
  server/src/controllers/languageController.ts
  server/src/controllers/linktypeController.ts
  server/src/controllers/scaleController.ts
  server/src/controllers/stakeholderController.ts
  server/src/controllers/typeController.ts
  server/src/dao/documentDAO.ts
  server/src/dao/languageDAO.ts
  server/src/dao/linktypeDAO.ts
  server/src/dao/scaleDAO.ts
  server/src/dao/stakeholderDAO.ts
  server/src/dao/typeDAO.ts
  server/src/db/db.ts
  server/src/routers/auth.ts
  server/src/routers/documentRoutes.ts
  server/src/routers/languageRoutes.ts
  server/src/routers/linktypeRoutes.ts
  server/src/routers/scalesRoutes.ts
  server/src/routers/stakeholderRoutes.ts
  server/src/routers/typeRoutes.ts
  server/src/routers/userRoutes.ts
  server/src/routes.ts
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

(fix) select link
  client/src/components/DocumentLinker.jsx
  server/test/unit/dao/document.test.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix login issues and form submitting
  client/src/App.jsx
  client/src/components/AddDocumentPage.jsx
  client/src/components/DocumentForm.jsx
  client/src/components/DocumentLinker.jsx
  client/src/context/userContext.js
  client/src/models/Document.jsx
  client/src/services/API.js
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/auth.ts
  server/src/routers/documentRoutes.ts
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix login
  client/src/App.jsx
  client/src/components/LoginForm.jsx
  server/src/dao/userDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

test DocumentDAO final
  server/src/controllers/stakeholderController.ts
  server/src/dao/documentDAO.ts
  server/src/dao/stakeholderDAO.ts
  server/src/db/db.ts
  server/src/routers/stakeholderRoutes.ts
  server/test/unit/dao/document.test.ts
  server/testAPI.http
Due: prettier --write "server/**/*.ts"

Add tab icon
  client/icons/truck-front.svg
  client/index.html
  client/src/components/AddDocumentPage.jsx
  client/src/models/Document.jsx
  server/src/db/db.ts
  server/src/routers/documentRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix packages
  client/package-lock.json
  client/package.json
  server/package-lock.json
  server/package.json
Due: none

fix ci
  .github/workflows/ci.yaml
Due: none

fix react-router-dom dependency
  client/package-lock.json
  client/package.json
  package-lock.json
  package.json
Due: none

feat: implement home page
  client/src/assets/icons/addDocumentIcon.svg
  client/src/assets/icons/searchDocumentIcon.svg
  client/src/assets/icons/viewAreaIcon.svg
  client/src/assets/icons/viewDiagramIcon.svg
  client/src/assets/icons/viewDocumentsIcon.svg
  client/src/assets/icons/viewMapIcon.svg
  client/src/assets/images/homebg.jpeg
  client/src/components/HomePage/NavComponent.css
  client/src/components/HomePage/NavComponent.jsx
  client/src/components/HomePage/NavWindow.css
  client/src/components/HomePage/NavWindow.jsx
  client/src/components/commons/NavigationButton.jsx
  client/src/pages/Home/Home.css
  client/src/pages/Home/Home.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

feat: merge home page
  client/src/App.jsx
  client/src/components/HomePage/NavComponent.css
  client/src/components/HomePage/NavComponent.jsx
  client/src/components/HomePage/NavWindow.jsx
  client/src/components/LoginForm.jsx
  client/src/pages/Home/Home.css
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

(new) db with a user and docs
  db/init.sql
Due: none

documentControllerTest
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

Add map
  client/src/App.jsx
  client/src/components/AddDocumentPage.jsx
  client/src/components/Map.jsx
  client/src/components/style.css
  client/src/services/API.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

dependencies
  client/package.json
Due: none

(new) interface for georeference
  client/package.json
  client/src/components/AddDocumentPage.jsx
  client/src/components/Map.jsx
  server/package.json
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
  server/testAPI.http
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix screens for logged in users, minor fixes
  client/package-lock.json
  client/package.json
  client/src/App.jsx
  client/src/components/AddDocumentPage.jsx
  client/src/components/DocumentLinker.jsx
  client/src/components/HomePage/NavWindow.jsx
  client/src/components/Map.jsx
  client/src/pages/Home/Home.jsx
  client/src/services/API.js
  server/package-lock.json
  server/package.json
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/routers/documentRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

Add MessegeContext for alerts + UpdateIssuanceDateValidator
  client/src/App.jsx
  client/src/components/AddDocumentPage.jsx
  client/src/components/DocumentForm.jsx
  client/src/components/DocumentLinker.jsx
  client/src/components/style.css
  client/src/context/messageContext.jsx
  client/src/main.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Resolve warning for login
  client/src/components/LoginForm.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix styles
  client/src/App.jsx
  client/src/components/AddDocumentPage.jsx
  client/src/components/DocumentLinker.jsx
  client/src/components/style.css
  client/src/context/messageContext.jsx
  client/src/main.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Test backend, missing routes
  server/src/controllers/scaleController.ts
  server/src/controllers/typeController.ts
  server/src/dao/documentDAO.ts
  server/src/dao/languageDAO.ts
  server/src/dao/linktypeDAO.ts
  server/src/dao/scaleDAO.ts
  server/src/dao/stakeholderDAO.ts
  server/src/dao/typeDAO.ts
  server/test/unit/controller/language.test.ts
  server/test/unit/controller/linktype.test.ts
  server/test/unit/controller/scale.test.ts
  server/test/unit/controller/stakeholder.test.ts
  server/test/unit/controller/type.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/dao/language.test.ts
  server/test/unit/dao/linktype.test.ts
  server/test/unit/dao/scale.test.ts
  server/test/unit/dao/stakeholder.test.ts
  server/test/unit/dao/type.test.ts
Due: prettier --write "server/**/*.ts"

fix user login
  client/src/App.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix login session, add logout
  client/src/App.jsx
  client/src/components/HomePage/NavWindow.jsx
  client/src/components/Map.jsx
  server/src/dao/documentDAO.ts
  server/src/db/db.db
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

remove broken test
  server/test/unit/dao/document.test.ts
Due: prettier --write "server/**/*.ts"

add retrospective1
  retrospective/Retrospective1.md
Due: none

(new) resources table for docs
  db/init.sql
Due: none

refactor client code
  README.md
  client/.env.example
  client/.gitignore
  client/public/icons/addDocumentIcon.svg
  client/public/icons/searchDocumentIcon.svg
  client/public/icons/viewAreaIcon.svg
  client/public/icons/viewDiagramIcon.svg
  client/public/icons/viewDocumentsIcon.svg
  client/public/icons/viewMapIcon.svg
  client/public/images/homebg.jpeg
  client/src/App.jsx
  client/src/components/AppRoutes.jsx
  client/src/components/Component.jsx
  client/src/components/Map.jsx
  client/src/components/NavigationButton.jsx
  client/src/contexts/FeedbackContext.js
  client/src/contexts/UserContext.js
  client/src/models/Connection.js
  client/src/models/Document.js
  client/src/providers/FeedbackProvider.jsx
  client/src/providers/UserProvider.jsx
  client/src/screens/home/Home.css
  client/src/screens/home/HomeScreen.jsx
  client/src/screens/home/components/NavComponent.css
  client/src/screens/home/components/NavComponent.jsx
  client/src/screens/home/components/NavWindow.css
  client/src/screens/home/components/NavWindow.jsx
  client/src/screens/login/LoginScreen.jsx
  client/vite.config.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

(new) db + navbar draft
  client/package.json
  client/src/App.jsx
  client/src/components/Navbar/Navbar.css
  client/src/components/Navbar/Navbar.jsx
  db/init.sql
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

(new) db date + navbar + viewmap
  client/package.json
  client/src/App.jsx
  client/src/assets/icons/logoutIcon.svg
  client/src/assets/icons/map_icons/agreementDocument.svg
  client/src/assets/icons/map_icons/conflictDocument.svg
  client/src/assets/icons/map_icons/consultationDocument.svg
  client/src/assets/icons/map_icons/designDocument.svg
  client/src/assets/icons/map_icons/informativeDocument.svg
  client/src/assets/icons/map_icons/materialEffectsDocument.svg
  client/src/assets/icons/map_icons/prescriptiveDocument.svg
  client/src/assets/icons/map_icons/technicalDocument.svg
  client/src/assets/icons/viewMapIcon2.svg
  client/src/components/MapView/MapView.css
  client/src/components/MapView/MapView.jsx
  client/src/components/Navbar/Navbar.css
  client/src/components/Navbar/Navbar.jsx
  db/init.sql
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

(fix) separate fields for date in db
  db/init.sql
Due: none

Path conditions:
  npm run --prefix client check: any of: client/**/*.{js,jsx,mjs}
  prettier --write "client/**/*.{js,jsx,mjs}": any of: client/**/*.{js,jsx,mjs}
  prettier --write "server/**/*.ts": any of: server/**/*.ts
