Repository SE2-Group1/main-project: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

.lintstagedrc:

{
  "client/**/*.{js,jsx,mjs}": [
    "npm run --prefix client check",
    "prettier --write \"client/**/*.{js,jsx,mjs}\""
  ],
  "server/**/*.ts": [
    "prettier --write \"server/**/*.ts\""
  ]
}

fix display doc area municipality
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

clickable clusters + list for collapsed documents + custom icons + TODO drawArea
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

(refactor): functions for validating date and georeference in document routes
  server/src/routers/documentRoutes.ts
Due: prettier --write "server/**/*.ts"

add some document routes test
  server/test/unit/routes/document.test.ts
Due: prettier --write "server/**/*.ts"

feat: implement free text type,stakeholder,scale
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/dao/scaleDAO.ts
  server/src/dao/stakeholderDAO.ts
  server/src/dao/typeDAO.ts
Due: prettier --write "server/**/*.ts"

fix: Adjust language bug
  client/src/components/addDocument/CaroselPageTwo.jsx
  client/src/pages/addDocument/CaroselPageOne.jsx
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

refactor: file moved from a folder into another
  client/src/pages/addDocument/AddDocumentPage.jsx
  client/src/pages/addDocument/CaroselPageOne.jsx
  client/src/pages/addDocument/style.css
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

refactor: file moved from a folder into another + fix bugs
  client/src/pages/addDocument/CaroselPageTwo.jsx
  client/src/pages/addDocument/CarouselForm.jsx
  client/src/pages/addDocument/HandleDocumentSidePanel.jsx
  server/test/unit/controller/document.test.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix zoom area on the map
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix draw area for selected docs
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix calculateBounds
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix map removeArea
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

added a comment to start working in custom triangles under each cluster
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: fix sonar cloud problems
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/pages/addDocument/CaroselPageOne.jsx
  client/src/pages/addDocument/CarouselForm.jsx
  client/src/pages/addDocument/HandleDocumentSidePanel.jsx
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix view on map
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix view on map
  client/src/pages/MapView/MapView.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix view on map
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

Adjusted bugs
  client/src/pages/MapView/MapView.css
  client/src/pages/MapView/MunicipalityDocumentsPanel.jsx
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

removed area state in location
  client/src/components/addDocument/AddDocumentPageTwo.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  server/src/routers/languageRoutes.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

removed docid and map mode location states, fix languages on the modal
  client/src/components/UserRoutes.jsx
  client/src/components/addDocument/AddDocumentPageTwo.jsx
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/pages/Navbar/Navbar.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

show municipality marker only in view mode
  client/src/pages/MapView/MapView.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix drawMunicipalityArea
  client/src/pages/MapView/MunicipalityDocumentsPanel.jsx
  server/src/dao/documentDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix edit georeference after add document with municipality area
  client/package-lock.json
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  package-lock.json
  server/package-lock.json
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

validate date in add document form
  client/src/components/addDocument/AddDocumentPageOne.jsx
  client/src/components/addDocument/CustomCarousel.jsx
  client/src/utils/Date.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix a bug
  client/src/components/addDocument/AddDocumentPageOne.jsx
  client/src/utils/Date.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: fix problems with languages
  server/src/controllers/documentController.ts
  server/src/dao/documentDAO.ts
  server/src/dao/languageDAO.ts
Due: prettier --write "server/**/*.ts"

fix: fix problems with languages
  server/test/unit/controller/document.test.ts
Due: prettier --write "server/**/*.ts"

fix: fix all test related to the backend
  server/src/dao/documentDAO.ts
  server/test/unit/controller/document.test.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/dao/stakeholder.test.ts
Due: prettier --write "server/**/*.ts"

make year required field
  client/src/components/addDocument/AddDocumentPageOne.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

change coordinates from decimalToDMS
  client/src/pages/MapView/components/SidePanel.jsx
  client/src/utils/map.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add missing dependency, refactor issuance date
  client/src/components/addDocument/AddDocumentPageOne.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

add missing dependency in side panel
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

(new) clickable docs in links list
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
  server/src/components/link.ts
  server/src/dao/linkDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

(fix) tests for links
  server/src/components/link.ts
  server/test/unit/dao/document.test.ts
  server/test/unit/routes/document.test.ts
Due: prettier --write "server/**/*.ts"

(fix): fixed link to show preesistents links
  client/src/components/LinkModal.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix handle link through sidepanel
  client/src/pages/MapView/MapView.jsx
  client/src/pages/MapView/components/SidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix order of documents in link modal
  client/src/utils/docs.js
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"

fix: solving sonarQube Bugs
  client/src/pages/addDocument/CaroselPageTwo.jsx
  server/src/controllers/documentController.ts
  server/src/dao/languageDAO.ts
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}", prettier --write "server/**/*.ts"

fix: Fix Bug Stakeholder
  client/src/components/DataList.jsx
  client/src/pages/addDocument/AddDocumentPage.jsx
  client/src/pages/addDocument/CaroselPageOne.jsx
  client/src/pages/addDocument/HandleDocumentSidePanel.jsx
Due: npm run --prefix client check, prettier --write "client/**/*.{js,jsx,mjs}"
